In [1]:
import json
import os
import pandas as pd

experiments = list(os.walk("./experiments"))[0][-1]

In [18]:
experiments = ['200-0-0.json']

In [23]:
df = [{
            "workers" : [],
            "response_time" : [],
            "success" : []
}]
for experiment in experiments:
    #print(experiment)
    logs = json.load(
        open(f"./experiments/{experiment}", "r")
    )
   
    for log in logs:
        #print(log)
        try:
            nw = log["thread_id"]
            #print(nw)
        except:
            #print(log, experiment)
            continue
        #print(log)
        rt = log["response_time"]
        success = 1 if log["msg"] == "success" else 0
        df.append({
            "workers" : [nw],
            "response_time" : [rt],
            "success" : [success]
        })
        #print(df)
df = pd.concat([pd.DataFrame(i) for i in df],
          ignore_index=True)
df[df.success == 1].describe()

          workers  response_time  success
count  100.000000     100.000000    100.0
mean    49.500000       1.926527      1.0
std     29.011492       0.418067      0.0
min      0.000000       1.193945      1.0
25%     24.750000       1.538216      1.0
50%     49.500000       1.955185      1.0
75%     74.250000       2.358626      1.0
max     99.000000       2.551235      1.0

In [5]:
stats = df.groupby("workers").mean()
stats["min_time"] = df.groupby("workers").min()["response_time"]

stats["mean_time"] = stats["response_time"]
del stats["response_time"]
stats["max_time"] = df.groupby("workers").max()["response_time"]

stats["standard_deviation"] = df.groupby("workers").std()["response_time"]
stats

         success  min_time  mean_time   max_time  standard_deviation
workers
1000.0     0.279  0.591944  20.885577  39.949957            7.173435

In [6]:
stats

         success  min_time  mean_time   max_time  standard_deviation
workers
1000.0     0.279  0.591944  20.885577  39.949957            7.173435

In [7]:
# two endpoints BS = 1
stats

         success  min_time  mean_time  max_time  standard_deviation
workers
120.0        1.0  1.768117   2.619451  4.090172            0.738905

In [8]:
df.groupby("workers").max()["response_time"]

workers
120.0    4.090172
Name: response_time, dtype: float64

Old results before parallelization 

|workers|response_time|success|
|---|---|---|
|1| 11.378659|1.000000|
|2	|19.046033	|1.000000|
|4	|40.281013|	1.000000|
|8|	84.252928	|1.000000|
|16	|164.951096|	1.000000|
|32|	327.317170|	1.000000|
|64|	655.830740|	1.000000|
|128	|40.344384	|0.014354|
|256|	28.654330|	0.000000|
|512|	0.294644|	0.000000|