In [2]:
import json
import os
import pandas as pd

experiments = list(os.walk("./experiments"))[0][-1]

In [5]:
experiments = ['900-0-0.json']

In [6]:
df = [{
            "workers" : [],
            "response_time" : [],
            "success" : []
}]
for experiment in experiments:
    #print(experiment)
    logs = json.load(
        open(f"./experiments/{experiment}", "r")
    )
   
    for log in logs:
        #print(log)
        try:
            nw = log["thread_id"]
            #print(nw)
        except:
            #print(log, experiment)
            continue
        #print(log)
        rt = log["response_time"]
        success = 1 if log["msg"] == "success" else 0
        df.append({
            "workers" : [nw],
            "response_time" : [rt],
            "success" : [success]
        })
        #print(df)
df = pd.concat([pd.DataFrame(i) for i in df],
          ignore_index=True)
df[df.success == 1].describe()

          workers  response_time  success
count  468.000000     468.000000    468.0
mean   304.096154       2.424263      1.0
std    210.336106       1.045201      0.0
min      0.000000       0.573967      1.0
25%    146.750000       1.528890      1.0
50%    269.500000       2.514161      1.0
75%    401.250000       3.373965      1.0
max    898.000000       4.862154      1.0

In [24]:
stats = df.groupby("workers").mean()
stats["min_time"] = df.groupby("workers").min()["response_time"]

stats["mean_time"] = stats["response_time"]
del stats["response_time"]
stats["max_time"] = df.groupby("workers").max()["response_time"]

stats["standard_deviation"] = df.groupby("workers").std()["response_time"]
stats

         success  min_time  mean_time  max_time  standard_deviation
workers
0.0          1.0  1.559961   1.559961  1.559961                 NaN
1.0          1.0  2.017959   2.017959  2.017959                 NaN
2.0          1.0  2.018290   2.018290  2.018290                 NaN
3.0          1.0  2.213888   2.213888  2.213888                 NaN
4.0          1.0  1.250721   1.250721  1.250721                 NaN
...          ...       ...        ...       ...                 ...
95.0         1.0  2.351322   2.351322  2.351322                 NaN
96.0         1.0  2.063017   2.063017  2.063017                 NaN
97.0         1.0  2.347918   2.347918  2.347918                 NaN
98.0         1.0  2.344438   2.344438  2.344438                 NaN
99.0         1.0  2.347329   2.347329  2.347329                 NaN

[100 rows x 5 columns]

In [6]:
stats

         success  min_time  mean_time   max_time  standard_deviation
workers
1000.0     0.279  0.591944  20.885577  39.949957            7.173435

In [7]:
# two endpoints BS = 1
stats

         success  min_time  mean_time  max_time  standard_deviation
workers
120.0        1.0  1.768117   2.619451  4.090172            0.738905

In [8]:
df.groupby("workers").max()["response_time"]

workers
120.0    4.090172
Name: response_time, dtype: float64

Old results before parallelization 

|workers|response_time|success|
|---|---|---|
|1| 11.378659|1.000000|
|2	|19.046033	|1.000000|
|4	|40.281013|	1.000000|
|8|	84.252928	|1.000000|
|16	|164.951096|	1.000000|
|32|	327.317170|	1.000000|
|64|	655.830740|	1.000000|
|128	|40.344384	|0.014354|
|256|	28.654330|	0.000000|
|512|	0.294644|	0.000000|