In [1]:
import json
import os
import pandas as pd

experiments = list(os.walk("./experiments"))[0][-1]

In [2]:
experiments = ['3000-0-0.json']

In [3]:
df = [{
            "workers" : [],
            "response_time" : [],
            "success" : []
}]
for experiment in experiments:
    #print(experiment)
    logs = json.load(
        open(f"./experiments/{experiment}", "r")
    )
   
    for log in logs:
        #print(log)
        try:
            nw = log["thread_id"]
            #print(nw)
        except:
            #print(log, experiment)
            continue
        #print(log)
        rt = log["response_time"]
        success = 1 if log["msg"] == "success" else 0
        df.append({
            "workers" : [nw],
            "response_time" : [rt],
            "success" : [success]
        })
        #print(df)
df = pd.concat([pd.DataFrame(i) for i in df],
          ignore_index=True)
print(df.head())
df[df.success == 1].describe()

   workers  response_time  success
0      0.0      23.626648      1.0
1      1.0      23.631362      1.0
2      2.0      23.649729      1.0
3      3.0      23.646584      1.0
4      4.0      23.637657      1.0

          workers  response_time  success
count  536.000000     536.000000    536.0
mean   267.511194      23.912604      1.0
std    154.893367       2.011144      0.0
min      0.000000      19.949285      1.0
25%    133.750000      23.460890      1.0
50%    267.500000      23.619048      1.0
75%    401.250000      25.329164      1.0
max    536.000000      26.243829      1.0

In [ ]:
stats = df.groupby("workers").mean()
stats["min_time"] = df.groupby("workers").min()["response_time"]

stats["mean_time"] = stats["response_time"]
del stats["response_time"]
stats["max_time"] = df.groupby("workers").max()["response_time"]

stats["standard_deviation"] = df.groupby("workers").std()["response_time"]
stats

In [ ]:
stats

In [7]:
# two endpoints BS = 1
stats

         success  min_time  mean_time  max_time  standard_deviation
workers
120.0        1.0  1.768117   2.619451  4.090172            0.738905

In [8]:
df.groupby("workers").max()["response_time"]

workers
120.0    4.090172
Name: response_time, dtype: float64

Old results before parallelization 

|workers|response_time|success|
|---|---|---|
|1| 11.378659|1.000000|
|2	|19.046033	|1.000000|
|4	|40.281013|	1.000000|
|8|	84.252928	|1.000000|
|16	|164.951096|	1.000000|
|32|	327.317170|	1.000000|
|64|	655.830740|	1.000000|
|128	|40.344384	|0.014354|
|256|	28.654330|	0.000000|
|512|	0.294644|	0.000000|